{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "es5",
      },
    ],
  }
}