.na1 { margin: -$spacing-extra-small; }
.na2 { margin: -$spacing-small; }
.na3 { margin: -$spacing-medium; }
.na4 { margin: -$spacing-large; }
.na5 { margin: -$spacing-extra-large; }
.na6 { margin: -$spacing-extra-extra-large; }
.na7 { margin: -$spacing-extra-extra-extra-large; }

.nl1 { margin-left: -$spacing-extra-small; }
.nl2 { margin-left: -$spacing-small; }
.nl3 { margin-left: -$spacing-medium; }
.nl4 { margin-left: -$spacing-large; }
.nl5 { margin-left: -$spacing-extra-large; }
.nl6 { margin-left: -$spacing-extra-extra-large; }
.nl7 { margin-left: -$spacing-extra-extra-extra-large; }

.nr1 { margin-right: -$spacing-extra-small; }
.nr2 { margin-right: -$spacing-small; }
.nr3 { margin-right: -$spacing-medium; }
.nr4 { margin-right: -$spacing-large; }
.nr5 { margin-right: -$spacing-extra-large; }
.nr6 { margin-right: -$spacing-extra-extra-large; }
.nr7 { margin-right: -$spacing-extra-extra-extra-large; }

.nb1 { margin-bottom: -$spacing-extra-small; }
.nb2 { margin-bottom: -$spacing-small; }
.nb3 { margin-bottom: -$spacing-medium; }
.nb4 { margin-bottom: -$spacing-large; }
.nb5 { margin-bottom: -$spacing-extra-large; }
.nb6 { margin-bottom: -$spacing-extra-extra-large; }
.nb7 { margin-bottom: -$spacing-extra-extra-extra-large; }

.nt1 { margin-top: -$spacing-extra-small; }
.nt2 { margin-top: -$spacing-small; }
.nt3 { margin-top: -$spacing-medium; }
.nt4 { margin-top: -$spacing-large; }
.nt5 { margin-top: -$spacing-extra-large; }
.nt6 { margin-top: -$spacing-extra-extra-large; }
.nt7 { margin-top: -$spacing-extra-extra-extra-large; }